@import "_variables";

.container-messages-errors {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.content-form {
  background: white;
  padding: 50px 35px 30px 35px;

  .form-header {
    .title {
      font-size: 24px;
    }

    .sub-title {
      font-size: 16px;
      color: #999;
      margin-bottom: 20px;
    }
  }

  .form-body {

    .form-group {
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-footer {
  }
}

.btn-actions {
  .mat-select-value {
    color: white;
    text-transform: uppercase;
  }

  .mat-select-arrow {
    color: white;
  }
}

.mat-option-text {
  padding: 0 20px;
}
