@import "_variables";

.container-messages-errors {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.content-form {
  background: white;
  padding: 50px 35px 30px 35px;

  .form-header {
    .title {
      font-size: 24px;
    }

    .sub-title {
      font-size: 16px;
      color: #999;
      margin-bottom: 20px;
    }
  }

  .form-body {

    .form-group {
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-footer {
  }
}

.btn-actions {
  .mat-select-value {
    color: white;
    text-transform: uppercase;
  }

  .mat-select-arrow {
    color: white;
  }
}

.mat-option-text {
  padding: 0 20px;
}

.mat-focused .mat-form-field-placeholder {
  color: $color-success;
}

.mat-form-field-ripple {
  background-color: $color-success;
}

.btn-primary {
  color: white;
  background-color: $color-default;
}

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 7px;
  i {
    font-size: 15px;
  }
}

.datatable-header {
  background: #EDEDED;
  display: flex !important;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
}

.datatable-header-cell, .datatable-body-cell-label {
  padding: 10px 20px;
}

.datatable-row-center {
  border-bottom:  1px solid $color-border-default;
}
