// Cores
$color-background-default: #303030;

$color-default: #3399FF;
$color-success: #009688;
$color-danger: #D50000;
$color-border-default: #D3D3D3;
$color-vale-transporte: #58BD8C;
$color-empresa-mex-beneficios: #D92027;
//fontes
$font-size-default: 16px;

.gray-text {
  color: #999999;
}
