@import "../../app/styles/_default";
@import "../../app/styles/_variables";
@import "../../app/styles/_forms";
@import "../../app/styles/_columns";

.login-component {
  @extend .max-width-height;
  @extend .vertical-horizontal-align;

  .text-password {
    text-align: center;
    a {
      font-size: $font-size-default - 2;
      font-weight: 700;
      text-decoration: none;
      color: $color-default;
    }
  }
}

@media (max-width: 600px) {
  .login-component {
    background: #fff;
    display: block;
  }
}
