<div class="login-component">
  <div class="content-form">
    <form [formGroup]="formLogin" (ngSubmit)="login(formLogin.value)" class="form" autocomplete="off">
      <div class="form-header">
        <h2 class="title">Login</h2>
        <p class="sub-title">Acesse o sistema de propostas e contratos.</p>
      </div>
      <div class="form-body">
        <div class="form-group">
          <app-cpf [form]="formLogin"></app-cpf>
        </div>
        <div class="form-group">
          <app-inputs
            [id]="'senha'"
            [label]="'senha'"
            [placeholder]="'Digite sua senha'"
            [maxLength]="16"
            [types]="'password'"
            [control]="formLogin.get('senha')"
          ></app-inputs>
          <app-messages-errors [control]="formLogin.get('senha')"></app-messages-errors>
        </div>
      </div>
      <div class="form-footer">
        <app-btn-submit [form]="formLogin" [textBtn]="'entrar'"></app-btn-submit>
        <div class="text-password">
          <a href="#">Esqueceu sua senha ?</a>
        </div>
      </div>
    </form>
  </div>
</div>
