<div class="container-home">
  <header *ngIf="isLoggin">
    <div class="perfil">
      <div class="info-perfil">
        <h4>Arthur Adriano</h4>
        <em>Diretor</em>
      </div>
      <img [src]="'http://images.wemystic.com.br/articles/850_400_homem-capri.jpg'" alt="Foto Perfil"
           class="img-perfil"/>
    </div>
    <nav>
      <div class="titleMenu">Empresas</div>
      <div>
        <ng2-selectize [config]="config"
                       [formControl]="formApp.get('empresa')"
                       [options]="companys">
        </ng2-selectize>
      </div>
      <div class="titleMenu">Menu</div>
      <ul>
        <li>
          <a routerLink="/perfil" routerLinkActive="active">
            <i class="material-icons">&#xE7FD;</i>
            <span>Perfil</span>
            <i class="material-icons">&#xE315;</i>
          </a>
        </li>
        <li>
          <a routerLink="/propostas" routerLinkActive="active">
            <i class="material-icons">&#xE24D;</i>
            <span>Propostas</span>
            <i class="material-icons">&#xE315;</i>
          </a>
        </li>
        <li>
          <a routerLink="/contratos" routerLinkActive="active">
            <i class="material-icons">&#xE873;</i>
            <span>Contratos</span>
            <i class="material-icons">&#xE315;</i>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container-page">
    <div *ngIf="isLoggin" class="page-header">
      <div class="page-title">
        <h2>{{ currentTitle }}</h2>
      </div>
      <div class="btn-actions" *ngIf="formApp">
        <ng2-selectize [config]="config"
                       [formControl]="formApp.get('produto')"
                       [options]="products">
        </ng2-selectize>
      </div>
      <div class="logout">
        <a href="/logout" matTooltip="Sair" matTooltipPosition="right"><i class="material-icons">&#xE879;</i></a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
