@import "../app/styles/_default";
@import "../app/styles/_variables";
@import "../app/styles/_columns";
@import "../app/styles/_forms";

.app-component {
  background: $color-background-default;
  height: 100%;
}

.container-home {
  background: white;
  height: 100%;
  display: flex;

  header {
    max-width: 200px;
    background-color: $color-background-default;
    height: 100%;
    width: 100%;

    .perfil {
      height: 80px;
      position: relative;

      .info-perfil {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 10px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+99 */
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */

        h4 {
          color: white;
          font-size: 20px;
        }
        em {
          color: white;
          opacity: .5;
          font-size: 14px;
          font-style: normal;
        }
      }

      .img-perfil {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }

    nav ul li a {
      padding: 20px 15px;
      text-decoration: none;
      display: block;
      color: white;
      position: relative;
      &.active {
        &:after {
          content: ' ';
          width: 3px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: white;
        }
      }
    }
  }

  .container-page {
    width: 100%;
    height: 100%;

    .page-header {
      width: 100%;
      border-bottom: 1px solid $color-border-default;
      display: flex;

      .page-title {
        padding: 17px 32px;

        h2 {
          font-size: 22px;
        }
        em {
          font-style: normal;
          font-size: 15px;
        }
      }

      .btn-actions {
        @extend .vertical-horizontal-align;
        margin-left: auto;
        padding: 0 30px;

        .mat-select {
          max-width: 200px;
          margin-right: 30px;
          padding: 10px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }

        .select-produtos {
          .mat-select {
            background: $color-vale-transporte;
          }
        }

        .select-empresas {
          .mat-select {
            background: $color-empresa-mex-beneficios;
          }
        }
      }

      .logout {
        @extend .vertical-horizontal-align;
        padding: 0 30px;
        border-left: 1px solid $color-border-default;
      }
    }
  }
}
