<div class="container-home">
  <header>
    <div class="perfil">
      <h4>Arthur Adriano</h4>
      <em>Diretor</em>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/peril" routerLinkActive="active">Perfil</a>
        </li>
        <li>
          <a routerLink="/propostas" routerLinkActive="active">Propostas</a>
        </li>
        <li>
          <a routerLink="/contratos" routerLinkActive="active">Contratos</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container-home-modules">
    <router-outlet></router-outlet>
  </div>
</div>
